<head>
    {% if page.title %}
    <title>{{ page.title }} | Official Website of Tochi Viktor</title>
  {% else %}
    <title>Tochi Viktor: Official Website</title>
  {% endif %}
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
{% else %}
  <meta name="description" content="This Site Belongs to Viktor Tochi.">
{% endif %}
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/fonts/icomoon/style.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/magnific-popup.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/jquery-ui.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/owl.carousel.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/lightgallery.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/owl.theme.default.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/bootstrap-datepicker.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/fonts/flaticon/font/flaticon.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/swiper.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/aos.css" | relative_url }}">
  <link rel="stylesheet" href="{{"/css/style.css" | relative_url}}">
  </head>