<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="site-wrap">
        <div class="site-mobile-menu">
          <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
              <span class="icon-close2 js-menu-toggle"></span>
            </div>
          </div>
          <div class="site-mobile-menu-body"></div>
        </div>
    {% include header.html%}
    </div>
    <div>
      {{ content }}
    </div>

    {% include footer.html %}

      <script src="{{ "/js/jquery-3.3.1.min.js" | relative_url }}" type="d4177cdbccb3325693cb9997-text/javascript"></script>
      <script src="{{ "/js/jquery-migrate-3.0.1.min.js" | relative_url }}" type="d4177cdbccb3325693cb9997-text/javascript"></script>
      <script src="{{ "/js/jquery-ui.js" | relative_url }}" type="d4177cdbccb3325693cb9997-text/javascript"></script>
      <script src="{{ "/js/popper.min.js" | relative_url }}" type="d4177cdbccb3325693cb9997-text/javascript"></script>
      <script src="{{ "/js/bootstrap.min.js" | relative_url }}" type="d4177cdbccb3325693cb9997-text/javascript"></script>
      <script src="{{ "/js/owl.carousel.min.js" | relative_url }}" type="d4177cdbccb3325693cb9997-text/javascript"></script>
      <script src="{{ "/js/jquery.stellar.min.js" | relative_url }}" type="d4177cdbccb3325693cb9997-text/javascript"></script>
      <script src="{{ "/js/jquery.countdown.min.js" | relative_url }}" type="d4177cdbccb3325693cb9997-text/javascript"></script>
      <script src="{{ "/js/jquery.magnific-popup.min.js" | relative_url }}" type="d4177cdbccb3325693cb9997-text/javascript"></script>
      <script src="{{ "/js/bootstrap-datepicker.min.js" | relative_url }}" type="d4177cdbccb3325693cb9997-text/javascript"></script>
      <script src="{{ "/js/swiper.min.js" | relative_url }}" type="d4177cdbccb3325693cb9997-text/javascript"></script>
      <script src="{{ "/js/aos.js" | relative_url }}" type="d4177cdbccb3325693cb9997-text/javascript"></script>
      <script src="{{ "/js/picturefill.min.js" | relative_url }}" type="d4177cdbccb3325693cb9997-text/javascript"></script>
      <script src="{{ "/js/lightgallery-all.min.js" | relative_url }}" type="d4177cdbccb3325693cb9997-text/javascript"></script>
      <script src="{{ "/js/jquery.mousewheel.min.js" | relative_url }}" type="d4177cdbccb3325693cb9997-text/javascript"></script>
      <script src="{{ "/js/main.js" | relative_url }}" type="d4177cdbccb3325693cb9997-text/javascript"></script>
      <script type="d4177cdbccb3325693cb9997-text/javascript">
          $(document).ready(function(){
            $('#lightgallery').lightGallery();
          });
        </script>
      
      <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="d4177cdbccb3325693cb9997-text/javascript"></script>
      <script type="d4177cdbccb3325693cb9997-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'UA-23581568-13');
      </script>
      <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="d4177cdbccb3325693cb9997-|49" defer=""></script>
  
  
  </body>
</html>